/*fondo*/
body {
  font-family: Garamond, serif;
  background: rgb(243, 229, 229);
}

/*barra de inicio*/
.varbarra {
  display: flex;
  justify-content: flex-end;
  background: rgb(255, 182, 193, 0.3);
  padding: 20px;
  margin: auto;
  border: 2px solid rgb(59, 15, 110);
  border-radius: 12px;
}

#bar1 a {
  color: rgb(59, 15, 110);
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  padding: 20px;
  margin: auto;

}

#bar1 .active {
  background-color: rgb(240, 154, 167);

}

/*textos*/
.origen {
  text-align: justify;
  color: rgb(38, 41, 73);
  max-width: 40%;
  float: left;
}

p {
  margin: 0%;
  text-indent: 50px;
}

h1,
h2 {
  color: rgb(102, 43, 97);
  text-shadow: 3px 3px 3px #ababab;
  font-size: bold;
}

h1::first-letter,
h2::first-letter {
  font-family: "sofia", sans-serif;
}

/*tablas*/
#pelis {
  color: rgb(38, 41, 73);
  border: 3px double rgb(102, 43, 97);
  border-radius: 30px;
  padding: 10px;
  text-align: left;
  overflow-x: auto;
  clear: left;
}

caption {
  color: rgb(102, 43, 97);
}

th {
  background-color: rgb(102, 43, 97);
  color: lightpink;
}

th,
td {
  border: 1px dotted rgb(102, 43, 97);

}

tr:hover {
  background-color: rgb(250, 191, 200, 0.2);
}

iframe {
  width: 116px;
  height: 65px;
  border: 0;
}

/*imagenes*/
#galeria {
  float: right;
  max-width: 30%;
  height: auto;
}

/*listas*/

.novias a {
  color: rgb(59, 15, 110);
  text-align: center;
  text-decoration: none;
}


.novias li {
  list-style-type: none;
  display: inline-block;
  background-color: lightpink;
  border-radius: 30px;
  padding: 10px;
  margin: auto;
}

.varbarra a:hover,
.novias li:hover,
.novias li:visited {
  color: rgb(102, 43, 97);
  background-color: rgb(255, 182, 193, 0.3);
  box-shadow: 5px 5px 10px 0px rgb(87, 5, 5);
}

.novias li:link {
  color: rgb(38, 41, 73);
  text-decoration: none;
}

/*footer 10min*/
.barbotton {
  
  display: flex;
  justify-content: space-between;
  background-color: rgb(102, 43, 97);
  padding: 40px;
}

.barbotton a {
  background-color: rgb(102, 43, 97);
  color: lightpink;
  text-decoration:none ;
  margin: 10px;
}

/*estilo para quiz*/
form {
  display: flex;
  width: 100%;
  flex-flow: wrap row;
  align-content: center;

}

fieldset {
  width: 100%;
  background-color: rgb(250, 191, 200);
  box-sizing: border-box;
  padding: 8px;
  margin: 20px;
  box-shadow: 5px 5px 10px 0px rgb(87, 5, 5);
  border-radius: 30px;

}

legend {
  text-align: left;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*cambiar a flex*/
#result {
  max-width: 40%;
  margin: 1% 75%;
  padding: 15px;
  box-sizing: border-box;
  border: 5px solid rgb(250, 191, 200);
  border-radius: 50px 30px;
  background-color: rgb(102, 43, 97);
  color: rgb(250, 191, 200);
  font: 20px Arial, sans-serif;

}

#result:hover {
  box-shadow: 0px 5px 20px 0px rgb(87, 5, 5);
}